[Desktop Entry]
Type=Application
Name=Bluetui
GenericName=Bluetooth Manager
Comment=Lightweight TUI Bluetooth manager in Rust
Exec=alacritty --class bluetui -T "Bluetooth" -e bluetui
Icon=bluetooth
Terminal=false
Categories=System;Settings;ConsoleOnly;
Keywords=bluetooth;wireless;connect;rust;
