[Desktop Entry]
Type=Application
Name=Impala
GenericName=WiFi Manager
Comment=TUI WiFi manager written in Rust
Exec=alacritty --class impala -T "Wi-Fi Manager" -e impala
Icon=network-wireless
Terminal=false
Categories=System;Network;ConsoleOnly;
Keywords=internet;wireless;
