[Desktop Entry]
Type=Application
Name=Yazi
Comment=File Manager
Exec=alacritty --class yazi -T "Yazi" -e yazi %u
Icon=yazi
Terminal=false
Categories=ConsoleOnly;System;FileTools;FileManager;
MimeType=inode/directory;
